@import url('https://fonts.googleapis.com/css2?family= Poppins & display=swap');

/*font-family: 'Poppins', sans-serif;*/

body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    text-align: center;
  }
  
  /* Estilos do conteúdo principal */
  .tudo {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .corpo {
    display: flex;
    width: 90%;
  }
  
   .nos, .eles {
    display: grid;
    height: 100%;
    justify-content: center;
    width: 50%;
  }

  .nos {
    border-right: 2px solid #fff;

  }
  
  /* Estilos dos cabeçalhos */
  h1 {
    font-size: 46px;
    margin-top: -2px;
  }
  
  h2, h1 {
    font-size: 46px;
  }
  
  h2 {
    margin-top: -10px;
  }
  
  /* Estilos dos botões */
  button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20%;
    margin-top: -10%;
    padding: 15px 45px;
    width: 150px;
  }
  
  .neg {
    background-color: #ba0000;
  }
  
  .neg:hover {
    background-color: #fa2d2d;
  }
  
  .pos {
    background-color: #0b6900;
  }
  
  .pos:hover {
    background-color: #119102;
  }
  
  .zer {
    background-color: #007bff;
    margin-top: 20px;
    width: 250px;
  }
  
  .zer:hover {
    background-color: #0069d9;
  }

.popup {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #000;
  }
  
  .popup-content {
    max-width: 500px;
    text-align: center;
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .fechar {
    display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.fechar:hover {
  background-color: #0069d9;
}
  
